<div class="board" data-ng-controller="LoadBoard">
  <div class="row grid-categories row0">
    <div data-ng-repeat="(position, category) in board.cat_names" class="col-md-{{board.col_number}} category column{{position}}"><div><span>{{category}}</span></div></div>
  </div>
  <div class="row grid-questions row1">
    <div data-ng-repeat="(position, question) in board.question1" class="col-md-{{board.col_number}} question column{{position}}"><div><a href="#/answer/{{position}}/1" type="button" class="btn btn-primary player{{boardstatus[position-1][0]}}-button">{{question.points}}</a></div></div>
  </div>
  <div class="row grid-questions row2">
    <div data-ng-repeat="(position, question) in board.question2" class="col-md-{{board.col_number}} question column{{position}}"><div><a href="#/answer/{{position}}/2" type="button" class="btn btn-primary player{{boardstatus[position-1][1]}}-button">{{question.points}}</a></div></div>
  </div>
  <div class="row grid-questions row3">
    <div data-ng-repeat="(position, question) in board.question3" class="col-md-{{board.col_number}} question column{{position}}"><div><a href="#/answer/{{position}}/3" type="button" class="btn btn-primary player{{boardstatus[position-1][2]}}-button">{{question.points}}</a></div></div>
  </div>
  <div class="row grid-questions row4">
    <div data-ng-repeat="(position, question) in board.question4" class="col-md-{{board.col_number}} question column{{position}}"><div><a href="#/answer/{{position}}/4" type="button" class="btn btn-primary player{{boardstatus[position-1][3]}}-button">{{question.points}}</a></div></div>
  </div>
  <div class="row grid-questions row5">
    <div data-ng-repeat="(position, question) in board.question5" class="col-md-{{board.col_number}} question column{{position}}"><div><a href="#/answer/{{position}}/5" type="button" class="btn btn-primary player{{boardstatus[position-1][4]}}-button">{{question.points}}</a></div></div>
  </div>
</div>