<div class="question-screen" data-ng-controller="LoadQuestion">

  <div ng-switch on="current_question.dailydouble" class="daily-double">
    <span ng-switch-when="yes">Daily Double</span>
  </div>

  <div ng-switch on="current_question.question_type" class="question-container">
    <div ng-switch-when="text" ng-bind-html="current_question.question"></div>
    <img ng-switch-when="image" src="{{current_question.question}}" alt="imagequestion">
    <img ng-switch-when="audio" ondblclick="javascript:loadaudio()" src="assets/jeopardy/img/speaker.png" alt="Speaker icon">
    <audio ng-switch-when="audio" id="audioquestion" autoplay controls>
      <source src="{{current_question.question}}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <video ng-switch-when="video" ondblclick="javascript:loadvideo()" id="videoquestion" autoplay controls>
      <source src="{{current_question.question}}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>

