::selection {
  background: rgba(255, 255, 255, 0);
}
::-moz-selection {
  background: rgba(255, 255, 255, 0);
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Press Start 2P', cursive;
  background-color: #6600ff;
}

body > .container-fluid {
  height: 100%;
}

div.row.header {
  height: 12%;
}

.viewport {
  height: 80%;
}

.board {
  height: 100%;
}

div.row.footer {
  height: 8%;
}

.footer > div {
  height: 100%;
}

.row0 {
  height: 20%;
}

.row1 {
  height: 16%;
}

.row2 {
  height: 16%;
}

.row3 {
  height: 16%;
}

.row4 {
  height: 16%;
}

.row5 {
  height: 16%;
}

.player1 {
  background-color: #ff9900;
}

.player2 {
  background-color: #66ccff;
}

.player3 {
  background-color: #cc0000;
}

.player4 {
  background-color: #ffff33;
}

.player5 {
  background-color: #ffcccc;
}

.player6 {
  background-color: #339900;
}

.player1-button {
  background-color: #ff9900 !important;
}

.player2-button {
  background-color: #66ccff !important;
}

.player3-button {
  background-color: #cc0000 !important;
}

.player4-button {
  background-color: #ffff33 !important;
}

.player5-button {
  background-color: #ffcccc !important;
}

.player6-button {
  background-color: #339900 !important;
}

.player7-button {
  color: #0019ff;
  background-color: #ccccff !important;
}

.header div {
  height: 100%;
}

.header > div > div {
  text-align: center;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-30%);
  -moz-transform: translateY(-50%,-30%);
  -webkit-transform: translate(-50%,-30%);
  transform: translate(-50%,-30%);
}

.player {
  margin: 0;
  font-size: 24px;
  color: #000000;
}

.player:hover {
  text-decoration: none;
  color: #000000;
}

.player::selection {
  color: #ffffff;
}

.player::-moz-selection {
  color: #ffffff;
}

.points {
  line-height: 35px;
  font-size: 16px;
  color: #000000;
}

.points::selection {
  color: #ffffff;
}

.points::-moz-selection {
  color: #ffffff;
}

.board > .row > div {
  padding: 0;
}

.row0 > div {
  height: 100%;
  background-color: #6600ff;
}

.row0 > div > div {
  width: 91%;
  height: 70%;
  background-color: #0019ff;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-55%);
  -moz-transform: translateY(-50%,-55%);
  -webkit-transform: translate(-50%,-55%);
  transform: translate(-50%,-55%);
}

.row0 > div > div > span {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translateY(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 18px;
  color: #ccccff;
}

.grid-questions > div {
  height: 100%;
  background-color: #6600ff;
}

.grid-questions > div > div {
  font-size: 18px;
  color: #ccccff;
  border: 0;
  border-radius: 0;
  border-color: #0019ff;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-repeat: no-repeat;
  background-image: none;
  width: 91%;
  height: 70%;
  background-color: #0019ff;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translateY(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.grid-questions > div > div > a {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translateY(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 18px;
  color: #ccccff;
  border: 0;
  border-radius: 0;
  border-color: #0019ff;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-repeat: no-repeat;
  background-image: none;
  width: 91%;
  height: 70%;
  background-color: #0019ff;
}

.grid-questions > div > div > a:hover {
  font-size: 18px;
  color: #ffff00;
  border: 0;
  border-radius: 0;
  border-color: #0066ff;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-repeat: no-repeat;
  background-image: none;
  background-color: #0066ff;
}

.grid-questions > div > div > a:active {
  outline: 0 !important;
  font-size: 18px;
  color: #ffff00;
  border: 0;
  border-radius: 0;
  border-color: #0066cc;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-repeat: no-repeat;
  background-image: none;
  background-color: #0066cc;
}

.grid-questions > div > div > a:focus {
  outline: 0 !important;
  font-size: 18px;
  color: #ffff00;
  border: 0;
  border-radius: 0;
  border-color: #0066cc;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-repeat: no-repeat;
  background-image: none;
  background-color: #0066cc;
}

.grid-questions > div > div > a.done {
  background-color: #000854;
  color: #999999;
}

.footer > div {
  height: 100%;
}

.footer > div > div {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translate(0,-50%);
  -moz-transform: translateY(0,-50%);
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  font-size: 22px;
}

.game-message {
  text-align: left;
}

.copyantani {
  right: 5%;
  text-align: right;
  color: #99ff00;
}

.copyantani a {
  right: 5%;
  text-align: right;
  color: #99ff00;
}

.copyantani a:hover {
  color: #99ff00;
  text-decoration: none;
}

.copyantani > div {
  font-size: 30px !important;
}

.flipped {
  display: inline-block;
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}

.answer-container, .question-container {
  text-align: center;
  height: 85%;
  width: 85%;
  font-size: 34px;
  padding-top: 50px;
  padding-left: 200px;
  color: #ccccff;
}

.answer-container text, .question-container text{
  padding-top: 0px;
}

.answer-container video, .question-container video{
  padding-top: 0px;
  height: 85%;
  width: 85%;
}

.answer-container img, .question-container img{
    max-width:100%;
  padding-top: 0px;
  height: 85%;
  width: auto;
}

.player-setup-screen {
  text-align: center;
  padding-top: 50px;
}

.player-setup-screen a {
  font-size: 34px;
}

.daily-double {
  text-align: center;
  padding-top: 20px;
  padding-right: 50px;
}

.daily-double span {
  font-size: 46px;
  color: #ffff33;
}

@media (max-width: 1220px) {
  .copyantani > div {
    font-size: 21px !important;
  }

  .footer > div > div {
    font-size: 20px;
  }

  .row0 > div > div > span {
    word-wrap: break-word;
    font-size: 16px;
  }

  .grid-questions > div > div > a {
    font-size: 16px;
  }

  .player{
    font-size: 20px;
  }

  .points {
    font-size: 10px;
  }
}